<div id="fb-root"></div>
<div id="fb-content">
<h1>Hello, Facebook Application!</h1>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: 238386342849069,
      status: true,
      cookie: true,
      xfbml: true,
    });
    FB.getLoginStatus(function(response) {
      if (response.session) {
        showUser();
      } else {
        FB.login(function(response) {
          if (response.session) {
            showUser();
          } else {
            alert('see you');
          }
        });
      }
    });
  }
  function showUser() {
    FB.api('/me', function(response) {
      alert(response.name);
    });
  }
  $(function() {
    $('<script>', {
      src: document.location.protocol + '//connect.facebook.net/en_US/all.js',
      async : true,
    }).appendTo("#fb-root");
  });
</script>
